* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  padding: 1rem;
  background-color: rgb(238, 162, 62);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(141, 141, 141);
  height: 100vh;
}
.input {
  display: flex;
  flex-direction: column;
  width: 15rem;
}
.header {
  text-align: center;
}
.forminput {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}
.home {
  background-color: rgb(195, 253, 129);
  height: 100vh;
}
.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
