* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  padding: 1rem;
  background-color: rgb(238, 162, 62);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(141, 141, 141);
  height: 100vh;
}
.input {
  display: flex;
  flex-direction: column;
  width: 15rem;
}
.header {
  text-align: center;
}
.forminput {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}
.home {
  background-color: rgb(195, 253, 129);
  /* height: 100vh; */
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 151, 30);
  border-radius: 10px;
  padding: 1rem;
  justify-content: space-between;
  width: 23rem;
}
.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  background-color: rgb(195, 253, 129);
  /* height: 100vh; */
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.murat {
  text-align: center;
  /* margin-top: 2rem; */
  color: black;
  margin-bottom: 3rem;
}
.cnt {
  text-align: center;
  margin-top: 3rem;
  background-color: rgb(160, 171, 201);


  /* width: max-content; */
  /* margin: auto; */
}
.about {
  background-color: rgb(195, 253, 129);
  /* height: 100vh; */
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

/* @media only screen and (max-device-width: 400px) {
  .cnt {
    width: 320px;
  }
} */
